In [1]:
%matplotlib notebook
import sys
print (sys.path)

['/g/wsl_projs/practical-astronomy/notebooks', '/home/anybody/wsl_projs/practical-astronomy', '/home/anybody/wsl_projs/example', '/g/wsl_projs/practical-astronomy/notebooks', '/home/anybody/apps/anaconda3/envs/py37astro/lib/python37.zip', '/home/anybody/apps/anaconda3/envs/py37astro/lib/python3.7', '/home/anybody/apps/anaconda3/envs/py37astro/lib/python3.7/lib-dynload', '', '/home/anybody/.local/lib/python3.7/site-packages', '/home/anybody/apps/anaconda3/envs/py37astro/lib/python3.7/site-packages', '/home/anybody/.local/lib/python3.7/site-packages/IPython/extensions', '/home/anybody/.ipython']

Bad key "text.kerning_factor" on line 4 in
/home/anybody/apps/anaconda3/envs/py37astro/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
import sys
from pathlib import Path

SRC_ROOT_DIR_0 = '/g/wsl_projs/practical-astronomy'
SRC_ROOT_DIR_1 = '/g/wsl_projs/practical-astronomy/myastro/'
sys.path.insert(0, SRC_ROOT_DIR_0)
sys.path.insert(1, SRC_ROOT_DIR_1)

%load_ext autoreload
%autoreload 2

In [3]:
import myastro.timeutil as tc
import myastro.coord as co
import myastro.orbit as ob
import myastro.planets as pl
from myastro.coord import as_str, Coord, cartesianFpolar, polarFcartesian,EQUAT2_TYPE
import myastro.data_catalog as dc
import myastro.util as ut

import numpy as np
from numpy import sin, cos
from toolz import pipe, compose
import toolz as tz
from functools import partial
from itertools import starmap

from matplotlib import pyplot

from cluegen import Datum

In [4]:
print (sys.path)

['/g/wsl_projs/practical-astronomy', '/g/wsl_projs/practical-astronomy/myastro/', '/g/wsl_projs/practical-astronomy/notebooks', '/home/anybody/wsl_projs/practical-astronomy', '/home/anybody/wsl_projs/example', '/g/wsl_projs/practical-astronomy/notebooks', '/home/anybody/apps/anaconda3/envs/py37astro/lib/python37.zip', '/home/anybody/apps/anaconda3/envs/py37astro/lib/python3.7', '/home/anybody/apps/anaconda3/envs/py37astro/lib/python3.7/lib-dynload', '', '/home/anybody/.local/lib/python3.7/site-packages', '/home/anybody/apps/anaconda3/envs/py37astro/lib/python3.7/site-packages', '/home/anybody/.local/lib/python3.7/site-packages/IPython/extensions', '/home/anybody/.ipython']

### Sun Position

In [4]:
jd = tc.datetime2jd(2001,7,27,0,0,0)
#jd = tc.JD_J2000
clock_mjd = tc.jd2mjd(jd)
#mtx_equatFeclip = co.mtx_equatFeclip("J2000")

In [ ]:
eclip_sun1  = pipe(clock_mjd, tc.mjd2jd,  pl.sun_geo_eclipt_position)
equat_sun1 = pipe(eclip_sun1.v, cartesianFpolar, mtx_equatFeclip.dot, polarFcartesian)
equat_sun1 = Coord(equat_sun1 ,'J2000', EQUAT2_TYPE)
print (as_str(eclip_sun1))
print (as_str(equat_sun1))

In [6]:
T = (clock_mjd - tc.MDJ_J2000) / 36525.0
eclip_sun2 = per.sunPos(T)
equat_sun2 = pipe(eclip_sun2.v, cartesianFpolar, mtx_equatFeclip.dot, polarFcartesian)
equat_sun2 = Coord(equat_sun2 ,'J2000', EQUAT2_TYPE)
print (T)
print (as_str(eclip_sun2))
print (as_str(equat_sun2))

NameError: name 'mtx_equatFeclip' is not defined

### Modified Julian Dates

In [7]:
# Modified Julian Date --> Date
tc.jd2datefd(tc.mjd2jd( 59000))

(2020, 5, 31.0)

### Julian Dates

In [10]:
tc.datetime2jd(1,1,1)

1721423.5

In [11]:
tc.jd2datefd(2280912.5)

(1532, 10, 19.0)

In [12]:
tc.h2hms(16.283091)

(16.0, 16.0, 59.12759999999594)

In [7]:
tc.datefd2jd(*(2000.0,1.0,1.5))

2451545.0

In [8]:
tc.dg2dgms(0.00020014657618539186)

(0.0, 0.0, 0.7205276742674107, 1)

### Comparsion

In [18]:
from io import StringIO
import pandas as pd
import numpy as np

TESTDATA1 = StringIO("""date col2 col3 col4 col5 col6 col7 col8 col9 col10 col11 col12 col13 col14 col15
 1985-Nov-15 00:00     04 00 42.95 +22 04 14.5   6.722  14.285 0.73718520427549 -31.4700594 170.1092 /L   5.6649
 1985-Nov-25 00:00     02 15 25.10 +18 24 12.6   6.047  14.027 0.62333047181196  -6.3229865 154.5321 /T  15.6614
 1985-Dec-05 00:00     00 28 54.80 +10 39 21.4   5.841  14.618 0.66579761228425  19.4566006 117.6519 /T  37.8608
 1985-Dec-15 00:00     23 18 25.14 +03 53 47.1   5.902  15.216 0.82165832632675  32.3058327  88.8455 /T  50.8347
 1985-Dec-25 00:00     22 37 01.76 -00 19 40.9   5.919  15.518 1.01964817515110  35.0821083  67.6001 /T  54.6644
 1986-Jan-04 00:00     22 10 41.09 -03 00 02.7   5.789  15.503 1.21683370900661  32.5221759  50.4539 /T  52.0862
 1986-Jan-14 00:00     21 51 03.79 -04 58 20.1   5.500  15.191 1.38813800881596  26.1918607  35.2255 /T  44.1502
 1986-Jan-24 00:00     21 33 31.14 -06 47 10.3   5.097  14.603 1.51189099565400  15.9494294  20.8375 /T  30.6178
 1986-Feb-03 00:00     21 15 38.52 -08 48 56.7   4.720  13.877 1.56351066668255   1.1892138   8.1362 /T  13.3589
 1986-Feb-13 00:00     20 57 16.88 -11 15 24.7   4.590  13.985 1.52038685721552 -16.1061960  12.0924 /L  20.4270
 1986-Feb-23 00:00     20 39 38.83 -14 08 42.0   4.747  14.631 1.38348449344536 -30.4360877  25.9878 /L  41.2459
 1986-Mar-05 00:00     20 22 17.51 -17 39 04.7   4.971  15.100 1.17934052806403 -39.4056203  40.6617 /L  56.5333
 1986-Mar-15 00:00     20 00 52.33 -22 27 26.5   5.059  15.217 0.93724332481648 -43.6585045  56.5951 /L  64.8389
 1986-Mar-25 00:00     19 22 42.90 -30 12 38.5   4.914  14.877 0.68564205981141 -42.1927310  76.4313 /L  65.0056
 1986-Apr-04 00:00     17 41 32.13 -42 56 01.2   4.587  13.969 0.47526184111390 -26.9370349 106.6547 /L  51.5011
""")
df1 = dc.read_jpl_data(TESTDATA1)
df1.head()

         date      ra_1      de_1    r_AU_1
0  1985/11/15  1.050321  0.385206  0.737185
1  1985/11/25  0.590874  0.321202  0.623330
2  1985/12/05  0.126158  0.185981  0.665798
3  1985/12/15  6.101754  0.068005  0.821658
4  1985/12/25  5.921157 -0.005725  1.019648

In [24]:
TESTDATA2 = StringIO("""col1 col2 col3 col4 col5 col6 col7 col8 
0   1985/11/15   232.8   57.0   0.6  1.7203  04h00m52.687s  +22°03'57"  0.737435
1   1985/11/25   242.9   53.2   1.8  1.5730  02h15m38.297s  +18°24'25"  0.623412
2   1985/12/05   253.0   48.7   3.2  1.4226  00h29m06.654s  +10°39'55"  0.665678
3   1985/12/15   263.2   43.1   5.0  1.2695  23h18m33.924s  +03°54'18"  0.821428
4   1985/12/25   273.3   35.9   7.1  1.1149  22h37m08.566s  -00°19'16"  1.019386
5   1986/01/04   283.5   26.3   9.8  0.9613  22h10m46.849s  -02°59'41"  1.216584
6   1986/01/14   293.7   12.8  13.0  0.8147  21h51m09.059s  -04°57'58"  1.387923
7   1986/01/24   303.9  353.4  16.2  0.6878  21h33m36.228s  -06°46'47"  1.511729
8   1986/02/03   314.1  326.4  17.7  0.6041  21h15m43.488s  -08°48'31"  1.563412
9   1986/02/13   324.2  294.9  14.9  0.5921  20h57m21.605s  -11°14'58"  1.520346
10  1986/02/23   334.3  267.3   8.7  0.6572  20h39m43.300s  -14°08'15"  1.383475
11  1986/03/05   344.3  247.1   2.6  0.7744  20h22m21.966s  -17°38'36"  1.179345
""")
df2 = dc.read_my_df(TESTDATA2)
df2.head()

         date      ra_2      de_2    r_AU_2
0  1985/11/15  1.051029  0.385121  0.737435
1  1985/11/25  0.591834  0.321262  0.623412
2  1985/12/05  0.127020  0.186144  0.665678
3  1985/12/15  6.102393  0.068155  0.821428
4  1985/12/25  5.921652 -0.005604  1.019386

In [25]:
df = df1.merge(df2, on='date')
df['dist_ss'] = df.apply(lambda x: ut.angular_distance(x['ra_1'],x['de_1'],x['ra_2'],x['de_2']), axis=1).map(np.rad2deg)*3600.0
df['diff_rAU'] = np.abs(df['r_AU_1'] - df['r_AU_2'])
df['dist_ss^2'] = df['dist_ss'] * df['dist_ss']
df['diff_rAU^2'] = df['diff_rAU'] * df['diff_rAU']
df.head()

,date,ra_1,de_1,r_AU_1,ra_2,de_2,r_AU_2,dist_ss,diff_rAU,dist_ss^2,diff_rAU^2
0,1985/11/15,1.050321,0.385206,0.737185,1.051029,0.385121,0.737435,136.481143,0.000250,18627.102531,6.239790e-08
1,1985/11/25,0.590874,0.321202,0.623330,0.591834,0.321262,0.623412,188.237912,0.000082,35433.511559,6.646845e-09
2,1985/12/05,0.126158,0.185981,0.665798,0.127020,0.186144,0.665678,177.942107,0.000120,31663.393348,1.430710e-08
3,1985/12/15,6.101754,0.068005,0.821658,6.102393,0.068155,0.821428,135.037658,0.000230,18235.168957,5.305022e-08
4,1985/12/25,5.921157,-0.005725,1.019648,5.921652,-0.005604,1.019386,105.081129,0.000262,11042.043745,6.873581e-08

In [26]:
np.sqrt(sum(df['dist_ss^2']))

396.67848390541155

In [23]:
sum(np.sqrt(df['diff_rAU^2']))

0.0004648149922297229

In [38]:
from io import StringIO
import pandas as pd
import numpy as np

CERES_POINTS = StringIO("""year month day fh ra_h ra_m ra_s dec_dg dec_min dec_sec
1805 09 05 24.165 6 23 57.54 22 21 27.08 
1806 01 17 22.095 6 45 14.69 30 21 24.20 
1806 05 23 20.399 8 07 44.60 28 02 47.04""")
exp_dt = {
          # "year" : object,
          # "month"  : object,
          # "day"  : object,
          # "fh" : object,
           "ra_h" : object,
           "ra_m" : object,
           "ra_s" : object,
           "dec_dg" : object,
           "dec_min" : object,
           "dec_sec" : object }
df = pd.read_csv(CERES_POINTS, sep="\s+", dtype=exp_dt) 
df['jd'] = df.apply(lambda row: tc.datetime2jd(row['year'], row['month'], row['day'], hour=row['fh']), axis=1)
df['ra'] = df['ra_h']+'h'+df['ra_m']+'m'+df['ra_s']+'s'
df['ra'] = df['ra'].map(co.make_ra)
df['dec'] = df['dec_dg']+'°'+df['dec_min']+'m'+df['dec_sec']+'s'
df['dec'] = df['dec'].map(co.make_lat)
cols =['jd','ra','dec']
df = df[cols]
df

             jd        ra       dec
0  2.380571e+06  1.675337  0.390212
1  2.380704e+06  1.768214  0.529825
2  2.380830e+06  2.128182  0.489502

In [23]:
df['jd'] = df.apply(lambda row: tc.datetime2jd(row['year'], row['month'], row['day'], hour=row['fh']), axis=1)

In [25]:
df['mjd'] = df['jd'].map(tc.jd2mjd)

In [31]:
df['ra'] = df['ra_h']+'h'+df['ra_m']+'m'+df['ra_s']+'s'
df['ra'] = df['ra'].map(co.make_ra)

In [36]:
df['dec'] = df['dec_dg']+'°'+df['dec_min']+'m'+df['dec_sec']+'s'
df['dec'] = df['dec'].map(co.make_lat)

In [39]:
df

             jd        ra       dec
0  2.380571e+06  1.675337  0.390212
1  2.380704e+06  1.768214  0.529825
2  2.380830e+06  2.128182  0.489502

In [42]:
records = list(df.to_records(index=False))

In [43]:
records

[(2380570.506875, 1.67533719, 0.39021238),
 (2380704.420625, 1.76821415, 0.52982475),
 (2380830.34995833, 2.12818177, 0.48950202)]

In [44]:
for row in df.itertuples(index=False):
    print (row)

Pandas(jd=2380570.506875, ra=1.6753371856662271, dec=0.3902123753655771)
Pandas(jd=2380704.420625, ra=1.7682141545905834, dec=0.5298247528911075)
Pandas(jd=2380830.349958333, ra=2.1281817678297195, dec=0.4895020233313377)

In [45]:
df

             jd        ra       dec
0  2.380571e+06  1.675337  0.390212
1  2.380704e+06  1.768214  0.529825
2  2.380830e+06  2.128182  0.489502

In [47]:
df.columns=['a','b','c']

In [48]:
df

              a         b         c
0  2.380571e+06  1.675337  0.390212
1  2.380704e+06  1.768214  0.529825
2  2.380830e+06  2.128182  0.489502

In [50]:
from cluegen import Datum

class Coordinates(Datum):
    x: int
    y: int

In [54]:
def kk():
    value = Coordinates(0,0)
    value.x = 3
    value.y = 8
    return value

In [55]:
print (kk())

Coordinates(x=3, y=8)

In [59]:
from itertools import count

for i in count(1):
    if i> 10 :
        break
    print (i)

1
2
3
4
5
6
7
8
9
10