In [8]:
import pandas as pd
import numpy as np
from myorbit import data_catalog as tc
import myorbit.data_catalog as dc
import myorbit.util.timeut as ut
from math import isclose
from myorbit.util.constants import *
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
# Modified Julian Date --> Date
ut.jd2datefd(ut.mjd2jd( 49400))

(1994, 2, 17.0)

In [3]:
COMETS_NO_CONVERGED=['C/1680 V1', 'C/1843 D1 (Great March comet)', 'C/1882 R1-A (Great September comet)', 'C/1882 R1-B (Great September comet)', 'C/1882 R1-C (Great September comet)', 'C/1882 R1-D (Great September comet)', 'C/1963 R1 (Pereyra)', 'C/1965 S1-A (Ikeya-Seki)', 'C/1965 S1-B (Ikeya-Seki)', 'C/1967 C1 (Seki)', 'C/1970 K1 (White-Ortiz-Bolelli)', 'C/2004 V13 (SWAN)', 'C/2011 W3 (Lovejoy)', 'C/2013 G5 (Catalina)', 'C/2020 U5 (PANSTARRS)']

In [12]:
v=np.array([1,2,3])

In [17]:
v.shape[0]

3

In [7]:
df = dc.DF_COMETS
df[df.Name.isin(COMETS_NO_CONVERGED)]

,Name,Epoch,q,e,i,w,Node,Tp,Ref
595,C/1680 V1,-65000.0,0.006222,0.999986,60.67840,350.61280,276.63390,16801218.48760,SAO_2008
701,C/1843 D1 (Great March comet),-5741.0,0.005527,0.999914,144.35480,82.63900,3.52720,18430227.91100,SAO_2008
805,C/1882 R1-A (Great September comet),8709.0,0.007750,0.999899,142.01120,69.58430,347.65630,18820917.72410,SAO_2008
806,C/1882 R1-B (Great September comet),8798.0,0.007753,0.999907,142.02070,69.60913,347.68586,18820917.72399,JPL 5
807,C/1882 R1-C (Great September comet),8709.0,0.007751,0.999915,142.01050,69.58400,347.65450,18820917.72410,SAO_2008
808,C/1882 R1-D (Great September comet),8709.0,0.007749,0.999920,142.00930,69.58080,347.65100,18820917.72410,SAO_2008
1040,C/1963 R1 (Pereyra),38327.0,0.005021,0.999945,144.59482,86.23092,8.05186,19630823.97203,JPL 2
1044,C/1965 S1-A (Ikeya-Seki),39040.0,0.007786,0.999915,141.86420,69.04860,346.99470,19651021.18370,SAO_2008
1045,C/1965 S1-B (Ikeya-Seki),39040.0,0.007778,0.999925,141.86100,69.03430,346.98110,19651021.18290,SAO_2008
1051,C/1967 C1 (Seki),39535.0,0.457380,0.999903,106.46843,144.29074,200.51957,19670313.74164,JPL 2
1067,C/1970 K1 (White-Ortiz-Bolelli),40735.0,0.008844,0.999949,138.95225,61.10295,336.81968,19700514.48077,JPL 2
2366,C/2004 V13 (SWAN),53373.0,0.180856,0.999995,34.80975,92.69080,207.69953,20041221.15177,JPL 7
3183,C/2011 W3 (Lovejoy),55901.0,0.005554,0.999929,134.35581,53.50921,326.36915,20111216.01181,JPL 58
3253,C/2013 G5 (Catalina),56406.0,0.928934,0.999676,40.61553,165.66531,144.28696,20130901.51237,JPL 14
3698,C/2020 U5 (PANSTARRS),59287.0,3.755921,0.999859,97.27865,75.40994,107.34289,20220427.80809,JPL 14

In [10]:
e=0.99985895
exp_e=0.99985895
isclose(e, exp_e, rel_tol=0, abs_tol=1e-05)

True

1.7320508075688767

In [32]:
print (dc.C_2018_F3_Johnson)

Elements for C/2018 F3 (Johnson)
     equinox name: J2000
            T eq: 0.0
        epoch mjd: 58200.0 day
       epoch date: 2018/03/23
                q: 2.48315593 AU
                a: None AU
                e: 1.0
                i: 105.53495 dg
             Node: 173.03113 dg
                w: 293.01083 dg
               Tp: 57980.231000000145 mjd
               Tp: 2017.8.15.231000000145286

In [33]:
print (dc.C_2020_J1_SONEAR)

Elements for C/2020 J1 (SONEAR)
     equinox name: J2000
            T eq: 0.0
        epoch mjd: 58972.0 day
       epoch date: 2020/05/03
                q: 3.20746664 AU
                a: None AU
                e: 1.06388423
                i: 142.1732 dg
             Node: 227.81652 dg
                w: 344.64352 dg
               Tp: 59311.54326000018 mjd
               Tp: 2021.4.7.543260000180453

In [34]:
print(dc.C2012_CH17)

Elements for C/2012 CH17 (MOSS)
     equinox name: J2000
            T eq: 0.0
        epoch mjd: 56023.0 day
       epoch date: 2012/04/06
                q: 1.29609218 AU
                a: None AU
                e: 0.99999074
                i: 27.74418 dg
             Node: 125.98468000000001 dg
                w: 137.99359 dg
               Tp: 56198.22249000007 mjd
               Tp: 2012.9.28.222490000072867

In [35]:
print (dc.CERES_J2000)

Elements for Ceres
            epoch: 2020.5.31.0
     equinox name: J2000
                a: 2.7676569 AU
                e: 0.07755702
                i: 10.58862 dg
             Node: 80.28699 dg
                w: 73.73167 dg
                M: 162.68625170000004 dg
        epoch mjd: 59000.0 day
            T eq0: 0.0
    Period (days): 1681.770781095073

In [54]:
print (dc.HALLEY_J2000)

Elements for 1P/Halley
     equinox name: J2000
            T eq: 0.0
        epoch mjd: 49400.0 day
       epoch date: 1994/02/17
                q: 0.58597811 AU
                a: 17.834145081015983 AU
                e: 0.96714291
                i: 162.26269 dg
             Node: 58.420080000000006 dg
                w: 111.33249 dg
               Tp: 46466.89532000013 mjd
               Tp: 1986.2.5.895320000126958

In [66]:
dc.DF_BODIES.sort_values('e')

,Name,Epoch,a,e,i,w,Node,M,H,G,Ref
284314,2006 QJ104,59000.0,3.114973,0.000953,10.65108,178.18819,156.96326,197.816657,15.7,0.15,JPL 11
124695,2001 SR136,59000.0,5.193419,0.000979,11.98978,338.13226,199.06123,37.153537,12.5,0.15,JPL 19
100342,1995 SH51,59000.0,2.242424,0.000995,5.10388,36.67347,9.51375,94.763534,16.5,0.15,JPL 17
6352,Schlaun,59000.0,2.410557,0.001003,3.54682,274.03015,317.33346,290.670242,14.0,0.15,JPL 30
205052,1999 CP142,59000.0,2.883063,0.001018,1.32247,359.40918,346.66616,281.991702,15.9,0.15,JPL 9
...,...,...,...,...,...,...,...,...,...,...,...
20461,Dioretsa,59000.0,23.903106,0.900178,160.43092,103.15095,297.86085,63.191314,13.8,0.15,JPL 6
267223,2001 DQ8,59000.0,1.842234,0.900944,12.77942,14.80779,342.67879,284.731488,18.1,0.15,JPL 67
276033,2002 AJ129,59000.0,1.370452,0.914932,15.45656,210.99874,138.04274,182.555728,18.7,0.15,JPL 74
65407,2002 RP120,59000.0,53.711348,0.954279,119.09979,357.73372,39.18009,16.159552,12.3,0.15,JPL 6
87269,2000 OO67,59000.0,564.699310,0.963287,20.07280,212.35730,142.20740,0.405889,9.2,0.10,JPL 9

In [27]:
df[df.e==1.0]

,Name,Epoch,q,e,i,w,Node,Tp,Ref
473,C/-146 P1,-732091.0,0.430000,1.0,71.00000,261.00000,330.00000,-1460628.00000,SAO_2008
474,C/-43 K1,-694504.0,0.220000,1.0,110.00000,17.00000,170.00000,-0430525.00000,SAO_2008
475,C/240 V1,-590969.0,0.370000,1.0,44.00000,82.00000,214.00000,02401110.00000,SAO_2008
476,C/390 Q1,-536248.0,0.920000,1.0,36.00000,23.00000,356.00000,03900905.00000,SAO_2008
477,C/400 F1,-532788.0,0.210000,1.0,32.00000,47.00000,38.00000,04000225.00000,SAO_2008
...,...,...,...,...,...,...,...,...,...
3142,C/2011 N3 (SOHO),55747.0,0.005289,1.0,144.39515,85.25951,6.58599,20110706.00210,JPL 1
3173,C/2012 E2 (SWAN),55999.0,0.007277,1.0,144.24334,82.71111,7.51727,20120315.03693,JPL 4
3288,C/2014 C2 (STEREO),56724.0,0.512340,1.0,135.50216,56.07547,283.34708,20140218.24537,JPL 7
3344,C/2015 A2 (PANSTARRS),57037.0,5.034401,1.0,107.70115,220.29394,258.38396,20151029.27992,JPL 3
3524,C/2018 F3 (Johnson),58200.0,2.483156,1.0,105.53495,293.01083,173.03113,20170815.23100,JPL 2

In [36]:
df=dc.DF_BODIES
df.sort_values(['e'],ascending=False)

,Name,Epoch,a,e,i,w,Node,M,H,G,Ref
87269,2000 OO67,59000.0,564.699310,0.963287,20.07280,212.35730,142.20740,0.405889,9.2,0.10,JPL 9
65407,2002 RP120,59000.0,53.711348,0.954279,119.09979,357.73372,39.18009,16.159552,12.3,0.15,JPL 6
276033,2002 AJ129,59000.0,1.370452,0.914932,15.45656,210.99874,138.04274,182.555728,18.7,0.15,JPL 74
267223,2001 DQ8,59000.0,1.842234,0.900944,12.77942,14.80779,342.67879,284.731488,18.1,0.15,JPL 67
20461,Dioretsa,59000.0,23.903106,0.900178,160.43092,103.15095,297.86085,63.191314,13.8,0.15,JPL 6
...,...,...,...,...,...,...,...,...,...,...,...
205052,1999 CP142,59000.0,2.883063,0.001018,1.32247,359.40918,346.66616,281.991702,15.9,0.15,JPL 9
6352,Schlaun,59000.0,2.410557,0.001003,3.54682,274.03015,317.33346,290.670242,14.0,0.15,JPL 30
100342,1995 SH51,59000.0,2.242424,0.000995,5.10388,36.67347,9.51375,94.763534,16.5,0.15,JPL 17
124695,2001 SR136,59000.0,5.193419,0.000979,11.98978,338.13226,199.06123,37.153537,12.5,0.15,JPL 19
284314,2006 QJ104,59000.0,3.114973,0.000953,10.65108,178.18819,156.96326,197.816657,15.7,0.15,JPL 11

In [37]:
df.columns

Index(['Name', 'Epoch', 'a', 'e', 'i', 'w', 'Node', 'M', 'H', 'G', 'Ref'], dtype='object')

In [3]:
df.head()

,Name,Epoch,a,e,i,w,Node,M,H,G,Ref
1,Ceres,59000.0,2.767657,0.077557,10.58862,73.73167,80.28699,162.686252,3.40,0.12,JPL 46
2,Pallas,59000.0,2.773841,0.229972,34.83293,310.20239,173.02474,144.975678,4.20,0.11,JPL 36
3,Juno,59000.0,2.668285,0.256936,12.99104,248.06619,169.85148,125.435354,5.33,0.32,JPL 111
4,Vesta,58600.0,2.361418,0.088721,7.14177,150.72854,103.81080,95.861938,3.00,0.32,JPL 35
5,Astraea,59000.0,2.574037,0.190913,5.36743,358.64842,141.57103,17.846339,6.90,0.15,JPL 113

In [16]:
fn='/home/anybody/projs/my-orbits/tests/data/jpl_halley_1997-Jun-27_1997-Jul-25.csv'
df= dc.read_jpl_data(fn)
df

          date      ra_1      de_1     r_AU_1
0   1997/06/27  2.325295 -0.000518  23.704620
1   1997/06/29  2.326368 -0.000560  23.731106
2   1997/07/01  2.327463 -0.000621  23.756761
3   1997/07/03  2.328581 -0.000701  23.781562
4   1997/07/05  2.329721 -0.000799  23.805487
5   1997/07/07  2.330879 -0.000916  23.828516
6   1997/07/09  2.332056 -0.001051  23.850632
7   1997/07/11  2.333249 -0.001204  23.871817
8   1997/07/13  2.334458 -0.001375  23.892057
9   1997/07/15  2.335681 -0.001564  23.911340
10  1997/07/17  2.336917 -0.001770  23.929654
11  1997/07/19  2.338163 -0.001993  23.946988
12  1997/07/21  2.339420 -0.002233  23.963334
13  1997/07/23  2.340686 -0.002489  23.978681
14  1997/07/25  2.341959 -0.002761  23.993020

In [9]:
df.head()

,date,col2,col3,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14,col15
1992-Jun-27,00:00,20,55,54.42,-27,0,49.8,8.154,6.948,2.042410,-12.077106,145.7330,/L,11.2360
1992-Jun-29,00:00,20,54,53.30,-27,13,50.7,8.116,6.925,2.029145,-11.299293,147.7868,/L,10.6284
1992-Jul-01,00:00,20,53,46.62,-27,27,0.6,8.078,6.901,2.016783,-10.494565,149.8412,/L,10.0081
1992-Jul-03,00:00,20,52,34.58,-27,40,16.8,8.039,6.876,2.005354,-9.665313,151.8906,/L,9.3776
1992-Jul-05,00:00,20,51,17.44,-27,53,36.6,8.001,6.850,1.994883,-8.814622,153.9283,/L,8.7401

In [28]:
import pathlib
print(pathlib.Path(__file__))

NameError: name '__file__' is not defined

In [34]:
x=0.0000001
print (x*np.sin(x)/(1-np.cos(x)))

2.0015998343868837