In [1]:
from myorbit import data_catalog as tc
%load_ext autoreload
%autoreload 2

In [2]:
df = tc.DF_BODYS

In [3]:
df.head()

,Name,Epoch,a,e,i,w,Node,M,H,G,Ref
1,Ceres,59000.0,2.767657,0.077557,10.58862,73.73167,80.28699,162.686252,3.40,0.12,JPL 46
2,Pallas,59000.0,2.773841,0.229972,34.83293,310.20239,173.02474,144.975678,4.20,0.11,JPL 36
3,Juno,59000.0,2.668285,0.256936,12.99104,248.06619,169.85148,125.435354,5.33,0.32,JPL 111
4,Vesta,58600.0,2.361418,0.088721,7.14177,150.72854,103.81080,95.861938,3.00,0.32,JPL 35
5,Astraea,59000.0,2.574037,0.190913,5.36743,358.64842,141.57103,17.846339,6.90,0.15,JPL 113