In [37]:
import pandas as pd
import numpy as np
from myorbit import data_catalog as tc
import myorbit.data_catalog as dc
import myorbit.util.timeut as ut
from myorbit.util.constants import *
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [63]:
def f1(x):
    return -3*x+7

In [66]:
print(f1(8))

-17

In [82]:
ut.hms2h (0,0,0.1)

2.777777777777778e-05

In [83]:
ut.dg2dgms(2.777777777777778e-05)

(0.0, 0.0, 0.1, 1)

In [3]:
df.head()

,Name,Epoch,a,e,i,w,Node,M,H,G,Ref
1,Ceres,59000.0,2.767657,0.077557,10.58862,73.73167,80.28699,162.686252,3.40,0.12,JPL 46
2,Pallas,59000.0,2.773841,0.229972,34.83293,310.20239,173.02474,144.975678,4.20,0.11,JPL 36
3,Juno,59000.0,2.668285,0.256936,12.99104,248.06619,169.85148,125.435354,5.33,0.32,JPL 111
4,Vesta,58600.0,2.361418,0.088721,7.14177,150.72854,103.81080,95.861938,3.00,0.32,JPL 35
5,Astraea,59000.0,2.574037,0.190913,5.36743,358.64842,141.57103,17.846339,6.90,0.15,JPL 113

In [16]:
fn='/home/anybody/projs/my-orbits/tests/data/jpl_halley_1997-Jun-27_1997-Jul-25.csv'
df= dc.read_jpl_data(fn)
df

          date      ra_1      de_1     r_AU_1
0   1997/06/27  2.325295 -0.000518  23.704620
1   1997/06/29  2.326368 -0.000560  23.731106
2   1997/07/01  2.327463 -0.000621  23.756761
3   1997/07/03  2.328581 -0.000701  23.781562
4   1997/07/05  2.329721 -0.000799  23.805487
5   1997/07/07  2.330879 -0.000916  23.828516
6   1997/07/09  2.332056 -0.001051  23.850632
7   1997/07/11  2.333249 -0.001204  23.871817
8   1997/07/13  2.334458 -0.001375  23.892057
9   1997/07/15  2.335681 -0.001564  23.911340
10  1997/07/17  2.336917 -0.001770  23.929654
11  1997/07/19  2.338163 -0.001993  23.946988
12  1997/07/21  2.339420 -0.002233  23.963334
13  1997/07/23  2.340686 -0.002489  23.978681
14  1997/07/25  2.341959 -0.002761  23.993020

In [9]:
df.head()

,date,col2,col3,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14,col15
1992-Jun-27,00:00,20,55,54.42,-27,0,49.8,8.154,6.948,2.042410,-12.077106,145.7330,/L,11.2360
1992-Jun-29,00:00,20,54,53.30,-27,13,50.7,8.116,6.925,2.029145,-11.299293,147.7868,/L,10.6284
1992-Jul-01,00:00,20,53,46.62,-27,27,0.6,8.078,6.901,2.016783,-10.494565,149.8412,/L,10.0081
1992-Jul-03,00:00,20,52,34.58,-27,40,16.8,8.039,6.876,2.005354,-9.665313,151.8906,/L,9.3776
1992-Jul-05,00:00,20,51,17.44,-27,53,36.6,8.001,6.850,1.994883,-8.814622,153.9283,/L,8.7401

In [28]:
import pathlib
print(pathlib.Path(__file__))

NameError: name '__file__' is not defined

In [34]:
x=0.0000001
print (x*np.sin(x)/(1-np.cos(x)))

2.0015998343868837